/*Обнуление*/
@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	/* height: 100%; */
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* overflow-x: hidden; */
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
.header-mobail {
	width: 100%;
	height: auto;
	/* background-color: #c0c0c0; */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	transition: 1s;
	z-index: 100000;
}
.wrapper__botton-menu {
	position: relative;
	width: 58px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	width: 30px;
	height: 21px;
}
.menu ul {
	margin: 0;
	padding-left: 19px;
}
.menu .title {
	cursor: pointer;
}
.menu .title::before {
	content: url(../img/header/menuBadge.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.menu.open .title::before {
	content: url(../img/header/arrow1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.menu.open .menu__absolute {
	display: block;
	z-index: 111;
}
.menu__desctop {
	display: none;
}
.menu .menu__absolute {
	background-color: #c0c0c0;
	display: none;
	position: absolute;
	width: 440px;
	height: 100vh;
	top: 40px;
	left: -8px;
}
.menu__absolute a {
	color: #333;
}
.menu__absolute ul li {
	margin-bottom: 24px;
	font-size: 24px;
}
.nav1-1 a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.menu__absolute ul li .nav1-1 li {
	margin-bottom: 14px;
}
.nav1-1 li {
	display: none;
}
.on__header-mobail {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 10px;
	position: relative;
}
.on__header-mobailDSC {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 10px;
	position: relative;
	display: none;
}
.header_hidden1 {
	transform: translateY(-100%);
}
.wrapper__logotop {
	display: flex;
	align-items: center;
}
.logotip {
	margin-top: 10px;
}
.logotip h2 {
	line-height: 10px;
}
.shopping-basket__wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.shopping-basket {
	margin-right: 8px;
	width: 40px;
	height: 40px;
	border: 1px solid #333;
	border-radius: 100%;
	background-image: url("../img/header/basket.svg");
	background-repeat: no-repeat;
	background-position: center 6px;
	background-size: 20px;
}
.round__basket {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	right: 5px;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 1px solid #333;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
}
.round__basket-num {
	margin: 0 auto;
}
.container__header-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	min-height: 0px;
	background-color: #c0c0c0;
}
.wrapper__search {
	width: 275px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
* {
	box-sizing: border-box;
}
form {
	position: relative;

	margin: 0 auto;
}
input,
button {
	border: none;
	outline: none;
	border-radius: 3px;
}
input {
	width: 100%;
	font-size: 14px;
	border: 0px;
	padding: 0px 4px 0px 8px;
	width: 193px;
	height: 22px;
}
button {
	width: 20px !important;
	height: auto;
	padding: 3px 2px 2px 2px !important;
	position: absolute;
	top: 0px;
	right: 8px;
	cursor: pointer;
	background-color: #fff;
}
.wrapper__search img {
	width: 100%;
	height: auto;
}
.menu__botton {
	width: 280px;
	padding: 47px 0 40px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.menu__botton a {
	color: #c0c0c0;
}
.menu__botton span {
	font-size: 14px;
	color: #c0c0c0;
	margin: 0px 10px 0px;
}
.on__header-mobail .wrapper__search {
	display: none;
}
@media screen and (min-width: 500px) {
	.menu__botton {
		width: 480px;
	}
}
@media screen and (min-width: 768px) {
	.menu__botton {
		width: 700px;
	}
}
@media screen and (min-width: 1024px) {
	.menu__botton {
		width: 960px;
	}
}
@media screen and (min-width: 1378px) {
	.header-mobail {
		position: fixed;
		z-index: 1000000;
		background-color: #fff;
		display: none;
	}
	.on__header-mobailDSC {
		display: flex;
	}
	.none__header-mobail {
		display: none;
	}
	.wrapper__search {
		width: 515px;
	}
	form {
		border: 1px solid #c0c0c0;
	}
	.menu__botton {
		width: 1030px;
	}
	.header__desctop {
		background-color: #c0c0c0;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		transition: 1s;
		z-index: 100000;
	}
	.header_hidden {
		transform: translateY(-100%);
	}

	.on__header-mobail {
		margin: 0 auto;
		position: relative;
		width: 100%;
	}
	.header__desctop a {
		text-decoration: none;
		outline: none;
		display: block;
		transition: 0.3s ease-in-out;
	}
	.menu__desctop {
		width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	nav {
		display: table;
		margin: 0 auto;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.topmenu:after {
		content: "";
		display: table;
		clear: both;
	}
	.topmenu > li {
		width: 25%;
		float: left;
		position: relative;
		font-family: "Open Sans", sans-serif;
	}
	.topmenu > li > a {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		color: #404040;
		padding: 15px 30px;
	}
	.topmenu li a:hover {
		color: #000;
	}
	.submenu-link:after {
		content: "\f107";
		font-family: "FontAwesome";
		color: inherit;
		margin-left: 10px;
	}
	.submenu {
		background: #273037;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 5;
		width: 180px;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: 0 0;
		transition: 0.5s ease-in-out;
	}
	.submenu a {
		color: white;
		text-align: left;
		padding: 12px 15px;
		font-size: 13px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.submenu li:last-child a {
		border-bottom: none;
	}
	.topmenu > li:hover .submenu {
		opacity: 1;
		transform: scaleY(1);
	}
	.on__header-mobail .wrapper__search {
		display: block;
	}
	.container__header-top {
		display: none;
	}
}
.assortment__all {
	width: 280px;
	margin: 0 auto;
}
.assortment__all-title {
	margin-bottom: 20px;
}
.assortiment__all-container {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	border: 0.5px solid #c0c0c0;
}
.swiper__assortiment-foto {
	width: 278px;
	height: 223px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 20px;
}
.blackLeatherAndBlackSuede-1 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBlackSuede/1.jpg");
}
.blackLeatherAndBlackSuede-2 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBlackSuede/2.jpg");
}
.blackLeatherAndBlackSuede-3 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBlackSuede/3.jpg");
}
.blackLeatherAndBlackSuede-4 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBlackSuede/4.jpg");
}
.blackLeatherAndBlackSuede-5 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBlackSuede/5.jpg");
}
.blackLeatherAndBrownSuede-1 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBrownSuede/1.jpg");
}
.blackLeatherAndBrownSuede-2 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBrownSuede/2.jpg");
}
.blackLeatherAndBrownSuede-3 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndBrownSuede/3.jpg");
}
.blackLeatherAndCoffeeSuede-1 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndCoffeeSuede/1.jpg");
}
.blackLeatherAndCoffeeSuede-2 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndCoffeeSuede/2.jpg");
}
.blackLeatherAndCoffeeSuede-3 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndCoffeeSuede/3.jpg");
}
.blackLeatherAndCoffeeSuede-4 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndCoffeeSuede/4.jpg");
}
.blackLeatherAndCoffeeSuede-5 {
	background-image: url("../img/assortiment/suede/round/blackLeatherAndCoffeeSuede/5.jpg");
}
.blackLeatherRectangle-1 {
	background-image: url("../img/assortiment/leather/rectangle/1.jpg");
}
.blackLeatherRectangle-2 {
	background-image: url("../img/assortiment/leather/rectangle/2.jpg");
}
.blackLeatherRectangle-3 {
	background-image: url("../img/assortiment/leather/rectangle/3.jpg");
}
.milkChocolateLeatherRound-1 {
	background-image: url("../img/assortiment/leather/round/1.jpg");
}
.milkChocolateLeatherRound-2 {
	background-image: url("../img/assortiment/leather/round/2.jpg");
}
.milkChocolateLeatherRound-3 {
	background-image: url("../img/assortiment/leather/round/3.jpg");
}
.milkChocolateLeatherRound-4 {
	background-image: url("../img/assortiment/leather/round/4.jpg");
}
.milkChocolateLeatherSemicircle-1 {
	background-image: url("../img/assortiment/leather/semicircle/1.jpg");
}
.milkChocolateLeatherSemicircle-2 {
	background-image: url("../img/assortiment/leather/semicircle/2.jpg");
}
.milkChocolateLeatherSemicircle-3 {
	background-image: url("../img/assortiment/leather/semicircle/3.jpg");
}
.milkChocolateLeatherSemicircle-4 {
	background-image: url("../img/assortiment/leather/semicircle/4.jpg");
}
.milkChocolateLeatherSemicircle-5 {
	background-image: url("../img/assortiment/leather/semicircle/5.jpg");
}
.swiper__assortiment-title {
	text-align: center;
	margin-bottom: 15px;
}
.swiper__assortiment-line {
	display: block;
	width: 80%;
	content: "";
	opacity: 0.4;
	border: 1px solid #c0c0c0;
	margin: 0 auto;
	margin-bottom: 10px;
}
.swiper__assortiment-prise {
	text-align: center;
}
.swiper1 .swiper-pagination span {
	background-color: #c0c0c0;
	background-color: #333;
}
.swiper1 .swiper-pagination {
	top: 225px;
}
.swiper1 .swiper-button-prev {
	display: none;
}
.swiper1 .swiper-button-next {
	display: none;
}
@media screen and (min-width: 500px) {
	.assortment__all {
		width: 480px;
	}
	.swiper__assortiment-foto {
		width: 240px;
		height: 200px;
	}
	.swiper1 .swiper-pagination {
		top: 200px;
	}
}
@media screen and (min-width: 768px) {
	.assortment__all {
		width: 700px;
	}
	.swiper__assortiment-foto {
		width: 350px;
		height: 323px;
	}
	.swiper1 .swiper-pagination {
		top: 325px;
	}
}
@media screen and (min-width: 1024px) {
	.assortment__all {
		width: 960px;
	}
	.swiper__assortiment-foto {
		width: 480px;
		height: 443px;
	}
	.swiper1 .swiper-pagination {
		top: 445px;
	}
	.swiper1 .swiper-button-prev {
		display: block;
		color: #c0c0c0;
	}
	.swiper1 .swiper-button-next {
		display: block;
		color: #c0c0c0;
	}
}
@media screen and (min-width: 1378px) {
	.assortment__all {
		width: 1030px;
	}
	.swiper__assortiment-foto {
		width: 515px;
		height: 443px;
	}
	.swiper1 .swiper-pagination {
		top: 445px;
	}
}
.footer {
	background-color: #c0c0c0;
	width: 100%;
}
.container__social-networks {
	width: 280px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.item__social-networks {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.isn-inst {
	background-image: url("../img/socialNetworks/instagram.png");
}
.inst-tlgr {
	background-image: url("../img/socialNetworks/telegram.png");
}
.inst-vk {
	background-image: url("../img/socialNetworks/vk.png");
}
.store {
	width: 280px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
}
/*....................................................................................*/
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
h6 {
	font-size: 10px;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-Light.ttf");
	font-style: normal;
	font-weight: normal;
}
